#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/lib/mysql/mysql.sunlight.pid
user=mysql


port=3306
max_connections=2048
event_scheduler=1
max-allowed-packet=256M
skip-name-resolve

log_output=FILE
#general_log = 1
#general_log_file = /var/log/mysql/general.log

slow_query_log=1
long_query_time=2
slow_query_log_file=/var/log/mysql/slow.log

#log-bin=mysql-bin

log-error=/var/log/mysql/error.log

character-set-server=utf8

skip-name-resolve

#
# * Galera-related settings
#
[galera]
# Mandatory settings
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://192.168.86.60,192.168.86.61"
wsrep_cluster_name="sunlight_stb_cluster"
wsrep_sst_method=rsync
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
wsrep_node_address="192.168.86.60"
bind-address=0.0.0.0


#
# Allow server to accept connections on all interfaces.
#

#query_cache_size=0
#query_cache_type=0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0
wsrep_retry_autocommit=4
wsrep_log_conflicts=ON

#wsrep_notify_cmd=/usr/local/sunlight/python/galera_send_notify.sh

innodb_buffer_pool_size=2G
innodb_log_file_size=800M


# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]

